{% extends 'base.html' %}

{% block content %}

{% load static %}


<!-- Main Content-->
<main>

    <div class="p-4 p-md-5 mb-4 rounded text-bg-blue">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Greatest Hip-Hop Albums of All Time</h1>
          <p class="lead my-3">These are the albums that have defined hip-hop history — from Run-DMC to Playboi Carti, from G-funk to drill, from the Bronx to Houston, and beyond.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
  
  <div class="row">

    <!-- Stock Entries Cards -->
    <div class="col-12 mt-3 left">
        <div class="row">
          {% for album in album_list %}
            <div class="div col-md-6 col-lg-3 card-container px-3">
                <div class="div index-card mb-3">
                    <a href="{% url 'album_detail' album.slug  %}" class="stock-link">
                        <div class="div card-body">
                            <div class="image-container">
                                {% if "placeholder" in album.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dt5umjifx/image/upload/v1654632762/static/images/logo.cf317108eabe.png"
                                    alt="default StockBook logo" aria-label="default StockBook logo">
                                {% else %}
                                <img class="card-img-top" src=" {{ album.featured_image.url }}"
                                    alt="Specific Company Logo" aria-label="Specific Company Logo">
                                {% endif %}
                            </div>
                            <div class="stock-name-container">
                                <h2 class="card-title">{{ album.title }}</h2>
                                <hr>
                                <p class="card-text">{{ album.excerpt }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
  </div>
  
  {% if is_paginated %}
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link fw-bold fs-5 shadow p-3 m-3 bg-body rounded">&laquo; PREV </a></li>
              {% endif %}
              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}" class="page-link fw-bold fs-5 shadow p-3 m-3 bg-body rounded">NEXT &raquo;</a></li>
  
              {% endif %}
          </ul>
      </nav>
      {% endif %}
  
  </main>

{% endblock %}
