{% extends 'base.html' %}

{% block content %}

{% load static %}

{% for album in album_list %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Main Content -->

            <!-- Content Goes here -->

            <div class="container">
                <!-- Post preview-->
                <div class="post-preview">
                    
                    <a href="{% url 'album_detail' album.slug %}">
                        <h2 class="post-title">{{ album.title }}</h2>
                    </a>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 post-meta">
                            <p class="post-meta">
                                <b>Artist:</b> {{ album.artist }}
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 post-meta">
                            <p class="post-meta">
                            <b>Year:</b> {{ album.year }}
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 post-meta gender">
                            <p class="post-meta">
                            <b>Genre:</b> {{ album.genre }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            
            <hr class="my-4">
        </div>
    </div>
   
</div>
{% endfor %}

{% endblock %}
