{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<body>

  <!-- Page content-->
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1 ">{{album.title}}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{album.excerpt}}</div>
          </header>
          <!-- Preview image figure-->
          
          <figure class="mb-0"><img class="card-img-top" 
            src="#" 
            alt="post-image-default"></figure>

          
          <figure class="mb-0"><img class="figure-img img-fluid rounded" src=" {{ post.main_image.url }} "
              alt="post_image"></figure>
          
          <!-- Post content-->
          <section class="mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <p><b>Artist:</b> {{album.artis}}</p>
              </div>
              <div class="col-lg-6 col-md-6">
                <p><b>Year:</b> {{album.year}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <p><b>Genre:</b> {{album.get_genre_display}}</p>
              </div>
              <div class="col-lg-6 col-md-6">
                <p><b>Email:</b> {{post.contact_email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 mx-auto">
                <p>{{album.content | safe }}</p>
              </div>
            </div>
            
          </section>
          <section class="mb-5">
            <div class="row">
              <div class="col-md-8 card mb-4  mt-3 ">
                  <h3>Comments:</h3>
                  <div class="card-body">
                      <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                      {% for comment in comments %}
                      <div class="comments" style="padding: 10px;">
                          <p class="font-weight-bold">
                              <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                              {{ comment.name }}
                              <span class=" text-muted font-weight-normal">
                                  <!-- The comment's created date goes here -->
                                  {{ comment.created_on }}
                              </span> wrote:
                          </p>
                          <!-- The body of the comment goes before the | -->
                          {{ comment.body | linebreaks }}
                      </div>
                      <!-- Our for loop ends here -->
                      {% endfor %}
                  </div>
              </div>
              <div class="col-md-4 card mb-4  mt-3 ">
                  <div class="card-body">
                      <!-- For later -->
                      {% if commented %}
                      <div class="alert alert-success" role="alert">
                          Your comment is awaiting approval
                      </div>
                      {% else %}
                      {% if user.is_authenticated %}
      
                      <h3>Leave a comment:</h3>
                      <p>Posting as: {{ user.username }}</p>
                      <form method="post" style="margin-top: 1.3em;">
                          {{ comment_form | crispy }}
                          {% csrf_token %}
                          <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                      </form>
                      {% endif %}
                      {% if user.is_authenticated %}
      
                      <h3>Leave a rating:</h3>
                      <p>Posting as: {{ user.username }}</p>
                      <form method="post" style="margin-top: 1.3em;">
                          {{ rate_form | crispy }}
                          {% csrf_token %}
                          <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                      </form>
                      {% endif %}
                      {% endif %}
                  </div>
              </div>
          </div>
          </section>
        </article>
      </div>
    </div>
  </div>

</body>

{% endblock content %}
